

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #332a29;
    overflow: auto;
    min-height: 100%;
    cursor: url('./assets/Sprites/system/cursor.png'), auto;
}

html {
    height: 100%;
    overflow: auto;
}


@font-face {
    font-family: 'DefaultFont';
    src: url('./assets/Fonts/DefaultFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.gameBackground {
    width: 100%;
    height: 100%;
    background: #52443c;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 0;
}

.hidden {
    display: none !important;
    z-index: -1;
}


.flash-color {
    animation: flashColor 0.2s 2;
}

@keyframes flashColor {
    0% {
        filter: brightness(1);
    }

    50% {
        filter: brightness(3);
    }

    /* Bright white flash */
    100% {
        filter: brightness(1);
    }
}

.logo {
    position: absolute;
    background-image: url('./assets/Sprites/system/logo.png');
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 362px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 0;
}


.twitchIcon {
    position: absolute;
    background-image: url('./assets/Sprites/system/twitchIcon.png');
    top: 95%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.youtubeIcon {
    position: absolute;
    background-image: url('./assets/Sprites/system/youtubeIcon.png');
    top: 95%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.gameLanguage {
    position: absolute;
    background-image: url('./assets/Sprites/system/ENG.png');
    top: 95%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 48px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.gameTitle {
    position: absolute;
    background-image: url('./assets/Sprites/system/gameTitle.png');
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 91px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    image-rendering: pixelated;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}


/* Styling for the .endDay-vocab container */
.newGame-vocab {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 120px;
    height: 32px;
    background-color: #a37e18;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'DefaultFont';
    font-size: 16px;
    z-index: 100;
    border: 1px solid black;
    border-radius: 10px;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 0;
}

.newGame-text {
    color: rgb(116, 116, 116);
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.newGame-vocab:hover {
    background-color: #ffde4c;
}

.newGame-vocab:hover .newGame-text {
    color: white;
}

.secondary-background {
    width: 364px;
    height: 720px;
    transform: translateX(50%) translateY(0%);
    background: #6c584c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
}


.slotGrid {
    display: grid;
    transform: translateX(40%) translateY(0%);
    padding: 5px;
    background-color: #696560;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 15px;
    grid-template-columns: repeat(7, 46px);
    grid-template-rows: repeat(5, 56px);
    gap: 4px;
    width: 188px;
    z-index: 3;
    image-rendering: pixelated;
}

.slotItem {
    position: relative;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: right;
    text-align: right;
    box-sizing: border-box;
    image-rendering: pixelated;
    z-index: 10;
    pointer-events: none;
    user-select: none;
}


.battleBorder {
    position: relative;
    transform: translateX(0%) translateY(-10%);
    width: 317px;
    height: 240px;
    background-color: #2b2d42;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 3px;
    font-family: 'DefaultFont', sans-serif;
    font-size: 16px;
    z-index: 2;
    border: 1px solid black;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.parameters {
    position: absolute;
    left: 10px; /* Adjust based on your layout */
    top: 40%;
    display: flex;
    flex-direction: column;
    gap: 2px; /* Adds spacing between items */
}

.parameter {
    display: flex;
    align-items: center;
    transform: translateX(-7.2%) translateY(275%);
    gap: 8px; /* Adds spacing between icon and text */
    width: 140px;
    height: 20px;
    background-color: #2b2d42;
    padding: 1px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    font-family: 'DefaultFont', sans-serif;
    font-size: 16px;
    pointer-events: none;
    user-select: none;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
    image-rendering: pixelated;
}


.param-name {
    margin-left: -7px;  /* Space between name and icon */
    color: white;
}

.param-icon {
    width: 24px;  /* Set a fixed size for the icons */
    height: 24px;
}

.stat-value {
    color: #ffde4c;
    flex-grow: 1;  /* Makes the value take available space */
    padding-right: 4px;
    text-align: right;  /* Aligns number to the right */
}